{% extends "mailer/base.html" %}



{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h2>Статистика:</h2>

                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th>#</th>
                            <th>Время попытки</th>
                            <th>Статус</th>

                        </tr>
                    </thead>
                    <tbody>
                        {% for mailinglog in mailinglogs %}
                            <tr>
                                <td>{{ mailinglog.id }}</td>
                                <td>{{ mailinglog.attempt_time }}</td>
                                <td>{{ mailinglog.status }}</td>
                                <td>

                            </tr>


                        {% empty %}
                            <tr>
                                <td colspan="4" class="text-center">На данный момент нет писем.</td>
                            </tr>
                        {% endfor %}

                    </tbody>
                </table>
                  <div class="btn-group">



                        </div>
            </div>
        </div>
    </div>
{% endblock %}
